[submodule "leviathan/vendor/spdlog"]
	path = leviathan/vendor/spdlog
	url = git@github.com:backwardspy/spdlog.git
[submodule "leviathan/vendor/glfw"]
	path = leviathan/vendor/glfw
	url = git@github.com:backwardspy/glfw.git
[submodule "leviathan/vendor/imgui"]
	path = leviathan/vendor/imgui
	url = git@github.com:backwardspy/imgui.git
[submodule "leviathan/vendor/glm"]
	path = leviathan/vendor/glm
	url = git@github.com:backwardspy/glm.git
[submodule "leviathan/vendor/stb"]
	path = leviathan/vendor/stb
	url = git@github.com:backwardspy/stb.git
[submodule "leviathan/vendor/entt"]
	path = leviathan/vendor/entt
	url = git@github.com:backwardspy/entt.git
